# Байт-код, оптимизированные / DLL-файлы
__pycache__/
*.py[cod]

# Файлы конфигурации для venv
venv/
.env
.idea/
Jenkins/
Ansible/
# Игнорировать все файлы с расширением .log
*.log

# Игнорировать файл конфигурации
config.py
